.App {
  font-family: 'Roboto';
  text-align: center;
  background-color: #f3f4f6;
  min-height: 100vh;
  padding: 30px;
}

 .main-heading {
  text-decoration: underline;
  font-size: 34px;
 }


h1 {
  color: #2b6cb0;
  font-size: 32px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
